.Todolist{
    margin:4rem auto;
    padding : 2rem 3rem 3rem;
    max-width: 500px;
    background-color: #ff6666;
    color:white;
    box-shadow: -17px -16px 5px 0px rgba(0,0,0,0.75);
}
    .Todolist ul{
        margin-top: 2.6rem;
        list-style: none;
        
    }
    .Todolist h1{
        font-weight: normal;
        font-size:2.6rem;
        letter-spacing: 0.05em;
        border-bottom: 1px solid black;
    }
    .Todolist h1 span{
        display:block;
        font-size: 0.8rem;
        margin-bottom: 0.7rem;
        margin-left:3px;
        margin-top:0.2 rem;
    }
    